version: '3.8'

services:
  app:
    build: .
    container_name: yahyaoncloud
    ports:
      - "8080:8080"
    environment:
      - PORT=8080
      - NODE_ENV=production
      - MONGODB_URI=mongodb+srv://<your-cloud-uri>
